In [1]:
import pandas as pd

df = pd.read_csv('brain_size.csv', delimiter=';')

df.head()

   Unnamed: 0  Gender  FSIQ  VIQ  PIQ  Weight  Height  MRI_Count
0           1  Female   133  132  124     118    64.5     816932
1           2    Male   140  150  124     167    72.5    1001121
2           3    Male   139  123  150     143    73.3    1038437
3           4    Male   133  129  128     172    68.8     965353
4           5  Female   137  132  134     147    65.0     951545

In [2]:
mean_height = df['Height'].mean()
mean_weight = df['Weight'].mean()

mean_height, mean_weight

(68.5975, 151.825)

In [3]:
gender_counts = df['Gender'].value_counts()

gender_counts

Gender
Female    20
Male      20
Name: count, dtype: int64

In [4]:
average_viq_males = df[df['Gender'] == 'Male']['VIQ'].mean()

average_viq_males

115.25

In [5]:
median_weight = df['Weight'].median()

median_weight

147.5

In [6]:
females_df = df[df['Gender'] == 'Female']

viq_std_females = females_df['VIQ'].std()
viq_var_females = females_df['VIQ'].var()
weight_std_females = females_df['Weight'].std()
weight_var_females = females_df['Weight'].var()

viq_std_females, viq_var_females, weight_std_females, weight_var_females

(21.670924008182507, 469.628947368421, 16.953807210988582, 287.43157894736845)